# Server
PORT=8080

# GitHub OAuth credentials
CLIENT_ID="github_client_id"
CLIENT_SECRET="github_secret"

# PostgreSQL database credentials
DB_HOST=localhost      # "localhost" if the API runs on your host
DB_PORT=5432
DB_USER=fleetstack_user
DB_PASSWORD=fleetstack_password
DB_NAME=fleetstack_platform
DB_SSLMODE=disable

# Docker
DOCKER_HOST=unix:///var/run/docker.sock

DATABASE_URL=postgresql://fleetstack_user:fleetstack_password@localhost:5432/fleetstack_platform?sslmode=disable